doctype 5
html(lang="en")
head
  title="JS Test"
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='/js/underscore.js')
  script(src='/js/expressions.js')
  script(src='/js/front-end.js') 
body
  button(id="testButton") test me
  div(id="responses")
  
 

